<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My App</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/app.css">

    {% block css %}{% endblock %}
  </head>

  <body>

    <!-- Navbar -->
    <header>
      {% include "header.html" %}
    </header>

    <!-- Main Content -->
    <main class="pt-2">
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-4">
      <div class="container">
        {% include "footer.html" %}
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    {% block js %}{% endblock %}

  </body>
</html>