{% extends "base.html" %}

{% block main %}

<div class="hero-wrapper">

    <div class="hero-content">
        <h1>Find Your Dream Home</h1>
        <p>Luxury properties. Prime locations. Designed for your lifestyle.</p>

        <div class="hero-actions">
            <a href="{{ url_for('properties') }}" class="btn btn-primary btn-lg">
                Browse Properties
            </a>

            <a href="{{ url_for('create_property') }}" class="btn btn-outline-light btn-lg">
                List Your Property
            </a>
        </div>
    </div>

</div>

{% endblock %}